
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(medical2.jpg) no-repeat;
  background-size: cover;

.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  #1d6d77;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #1d6d77;
  margin-bottom: 20px;
  padding: 13px 0
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #1d6d77;

}
.textbox i{
  width: 26px;
  float:left;
  text-align: center;

}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%
  float: left;
  margin: 0 10px;

}

.btn{
  width: 100%
  background:none;
  border: 2px solid #1d6d77;
  color: #1d6d77;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
