<!-- NAVEBAR AND FOOTER PAGE -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %} MEDBAY {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'website/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">


  <link rel="stylesheet" href="{% static 'website/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'website/css/style1.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico' %}" />

  <style>
  .lr{
    padding-left: 5px;
  }
  </style>
</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <input name="q" type="text" class="form-control" placeholder="Search here...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'home' %}" class="js-logo-clone"><strong class="text-primary">MED</strong>BAY</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'shop'  %}">Store</a></li>
                  <a href="{% url 'about' %}">About</a>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li class="has-children">
                  <a href="#">Hello, {{user.username}}</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'logout' %}">logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li class="has-children">
                  <a href="#">Account</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                  </ul>
                </li>
                {% endif %}

              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="{% url 'search' %}" name='q' class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="{% url 'cart' %}" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">{{order.get_cart_items}}</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>


{% block content %}

{% endblock %}


<footer class="site-footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">

        <div class="block-7">
          <h3 class="footer-heading mb-4">About <strong class="text-primary">MEDBAY</strong></h3>
          <p>MEDBAY brings to you an online platform, which can be accessed for all your health needs. We are trying to make healthcare a hassle-free experience for you. Get your allopathic, ayurvedic, homeopathic medicines, vitamins & nutrition supplements and other health-related products delivered at home.</p>
        </div>

      </div>
      <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
        <h3 class="footer-heading mb-4">Navigation</h3>
        <ul class="list-unstyled">
          <li><a href="{ url 'home' }">Home</a></li>
          <li><a href="{ url 'shop' }">Store</a></li>
          <li><a href="{ url 'about' }">About</a></li>
          <li><a href="{ url 'contact' }">Contact</a></li>
          <li><a href="{ url 'login' }">Sign-In</a></li>

        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">102, Arjun Nagar, New Delhi</li>
            <li class="phone"><a href="tel://23923929210">+91 9926363660</a></li>
            <li class="email">medbayindia@gmail.com</li>
          </ul>
        </div>


      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
        </p>
      </div>

    </div>
  </div>
</footer>
</div>

<script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'website/js/jquery-ui.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'website/js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/cart.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>

<script type="text/javascript">
var user = '{{request.user}}'

function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getToken('csrftoken');
</script>

</body>

</html>
