{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="owl-carousel owl-single px-0">
      <div class="site-blocks-cover overlay" style="background-image: url({% static 'website/images/hero_bg.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto align-self-center">
              <div class="site-block-cover-content text-center">
                <h1 class="mb-0"><strong class="text-primary">MEDBAY</strong> 24*7 At Your Service</h1>

                <div class="row justify-content-center mb-5">
                  <div class="col-lg-6 text-center">
                    <p>A place where you get the best.</p>
                  </div>
                </div>

                <p><a href="#" class="btn btn-primary px-5 py-3">Shop Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-blocks-cover overlay" style="background-image: url({% static 'website/images/hero_bg_2.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto align-self-center">
              <div class="site-block-cover-content text-center">
                <h1 class="mb-0">New Medicine <strong class="text-primary">Everyday</strong></h1>
                <div class="row justify-content-center mb-5">
                  <div class="col-lg-6 text-center">
                    <p>We provide access over 1000+ medicines.</p>
                  </div>
                </div>
                <p><a href="#" class="btn btn-primary px-5 py-3">Shop Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="site-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-24-hours-drugs-delivery"></span>
              <h3><a href="#">Free Delivery</a></h3>
              <p>Here at MEDBAY we provide shipping all over in India for free.</p>
              <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-medicine"></span>
              <h3><a href="#">New Medicine Everyday</a></h3>
              <p>We update our website with the new medicines in every 24 hours. </p>
              <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-test-tubes"></span>
              <h3><a href="#">Medicines Guaranteed</a></h3>
              <p>It is our responsibility to provide you with the best.</p>
              <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2>Pharmacy <strong class="text-primary">Products</strong></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 owl-carousel">
              {% for product in products %}
              <div class="text-center item mb-4 item-v2">
                <a href="{% url 'shop_single' %}"> <img src="{{product.imageURL}}" alt="Image"></a>
                <h3 class="text-dark"><a href="{% url 'shop_single' %}">{{product.name}}</a></h3>
                <p class="price">Rs.{{product.price|floatformat:2}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-image overlay" style="background-image: url('{% static 'website/images/hero_bg_2.jpg' %}');">
      <div class="container">
        <div class="row justify-content-center text-center">
         <div class="col-lg-7">
           <h3 class="text-white">Sign up for discount up to 40% OFF</h3>
           <p class="text-white">Limited period offer!! Sign up and get upto 40% discount on all kinds of medicines.</p>
           <p class="mb-0"><a href="#" class="btn btn-outline-white">Sign up</a></p>
         </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-6">
            <div class="title-section">
              <h2>Happy <strong class="text-primary">Customers</strong></h2>
            </div>
            <div class="block-3 products-wrap">
            <div class="owl-single no-direction owl-carousel">

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'website/images/person_1.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;Very Happy & Satisfied With Products & services
"It has been a year now since I am purchasing Medicines from MEDBAY. I never had complaints regarding any of the products or their services.".&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Kelly Holmes</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'website/images/person_2.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;Best Medicinal Products & Services
"I have purchased several medicines  from various pharmaceutical websites but finally, I was happy & satisfied with the MEDBAY's service. I would like to recommend others to buy Medicines from MEDBAY.".&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Rebecca Morando</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'website/images/person_3.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;A trusted supplier
"Have been doing business with them for 7 months now and they have never failed to amaze me with their service. I recommend them to others whenever I get chance.".&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Lucas Gallone</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'website/images/person_4.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;Very Quick Service!
"Exceptional Services! A quick reply is the best part of the MEDBAY. I'll surely make a repetitive order with them, and recommend others to go with this reputated company."&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Andrew Neel</p>
              </div>

            </div>
          </div>
          </div>
          <div class="col-lg-5">
            <div class="title-section">
              <h2 class="mb-5">Why <strong class="text-primary">Us</strong></h2>
              <div class="step-number d-flex mb-4">
                <span>1</span>
                <p>We provide accurate, authoritative & trustworthy information on medicines and help people use their medicines effectively and safely.</p>
              </div>

              <div class="step-number d-flex mb-4">
                <span>2</span>
                <p>We get medicines and other health products delivered at home in 1000+ cities across India from licensed and verified pharmacies.</p>
              </div>

              <div class="step-number d-flex mb-4">
                <span>3</span>
                <p>We continue to expand our rich and extensive medical content and are working hard to make this information available in multiple local languages.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
