<!-- Sign-In Page -->

{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form method="post">
<br><br>
      {% csrf_token %}
    <div class="login-box">
<center>

        <h1><strong class="text-primary">Sign In</strong></h1>
        <div class="textbox">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{login_form.username}}
        </div>

        <br>

        <div class="textbox">
          <i class="fa fa-lock" aria-hidden="true"></i>
          {{login_form.password}}
        </div>
<p></p>

      <center>
        <a href={% url 'password_reset' %}>Forgot Password?</a>
      </center>
<p></p>
        <div class="col-md-4">
          <button class="btn btn-primary btn-md px-4">SIGN IN</button>
        </div>
<p></p>
      <center>
        <p>Don't have an Account?<a href={% url 'register' %}>Sign Up</a></p>
      </center>
    </div>
<br><br>
      </form>


      {% endblock %}
