{% extends 'base.html' %}

{% block content %}
  <center>
    {% if validlink %}

      <h3 class = 'text-black'>Change password</h3>
      <br><br>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <div class="col-md-4">
          <button class="btn btn-primary btn-md px-4">Confirm Reset</button>
        </div>
        <br><br><br><br>
      </form>

      {% else %}

      <p class = 'text-black'>
        <br><br><br><br>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
        <br><br><br><br>
      </p>
      
      {% endif %}
    </center>
{% endblock %}
