<!-- Sign-Up Page -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main">
  <center>
  <div class="register">
    <h2 class='text-black'>Sign-up Here</h2>
    <form id="register" method="post">
      {% csrf_token %}

      <labe class=' text-black'>Username<span aria-hidden="true" class="required">*</span></label>
      <br>
      {{form.username}}
      <br><br>
      <labe>First name<span aria-hidden="true" class="required">*</span></label>
      <br>
      {{form.First_name}}
      <br><br>
      <labe>Last Name<span aria-hidden="true" class="required">*</span></label>
      <br>
      {{form.Last_name}}
      <br><br>
      <label>Email<span aria-hidden="true" class="required">*</span> </label>
      <br>
      {{form.email}}
      <br><br>
      <label>Password<span aria-hidden="true" class="required">*</span> </label>
      <br>
      {{form.password1}}
      <br><br>
      <label>Confirm Password<span aria-hidden="true" class="required">*</span> </label>
      <br>
      {{form.password2}}
      <br><br>
      <div class="col-md-4">
      <button class="btn btn-primary btn-md px-4">SIGN UP</button>
      </div>
      <p></p>
      <p>Already have an account?<a href={% url 'login' %}>Sign In</p></a>
      </form>
    </div>
  </center>
</div>
{% endblock %}
